.rst-content code,
.rst-content tt,
code {
    font-size: 90%;
    border: none;
    border-bottom: 1px solid rgba(61, 110, 110, 0.288);
    background: none;
    padding-left: 0px;
    padding-right: 0px;
}

.rst-content a code,
.rst-content a tt,
a code {
    border-bottom: 1px solid rgba(61, 110, 110, 0.938);
}

.rst-content a code:hover,
.rst-content a tt:hover,
a code:hover {
    border-width: 2px;
}

span.pre {
    color: rgb(21, 77, 78);
    white-space: normal;
}

.wy-menu .toctree-l1 span.pre {
    color: unset;
}

.wy-nav-content {
    max-width: 1100px;
}

.rst-content .linenodiv pre,
.rst-content div[class^="highlight"] pre,
.rst-content pre.literal-block {
    font-size: 14px;
}
